<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} <!--block is used as a placeholder section that can be overriden by child templates-->
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- notice it is like a string still, but filled in by static tag -->
    <script src="{% static 'js/main.js' %}" defer></script> <!-- defer: waits for all of page to be loaded, then loads script-->
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="{% url 'posts' %}">Posts</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>